.point {
	position:fixed;
	width:30px;
	height:30px;
	background-image:url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/4ae08020297311.562e962ec8fe7.gif);
  background-repeat:no-repeat;
  background-size:contain;
  background-position:center center;

}
.personage {
	position:fixed;
	top:0;
	left:0;
	width:70px;
	height:auto;
}
body {
	/*background-image:url(https://vignette.wikia.nocookie.net/runescape2/images/7/75/KBD_lair.png/revision/latest?cb=20121014121542);
  background-size:100%;*/
	color:white;
	font-family:Arial;
	width:100%;
	height:1000px;
	overflow:hidden;
	font-size: 10px;
	text-align:right;
}
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3a4556;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-bottom:3%;
  margin-right:6px
}

button:hover {background-color: #963e0f}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
nav {
	position:fixed;
	bottom:0;
	right:0;
}
nav > #demo {
	display: inline-block;
	color: red;
	font-weight: bold;
}
